.thecontactsection{
    position: relative;
    background-image: url('https://i.ibb.co/xSW7NSSv/customer-service.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
}

.contactoverlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 30% black transparency */
    z-index: 0;
}

.thecontactcontent{
    z-index:2;
    color:white;
}

.phonecontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

.phoneicon{
    width: 30vh; 
    height: 30vh;
}

.phone{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.phonetext{

    font-size: 50px; 
    font-weight: bold;
}

.mapembed{
    width:60vh;
    height:50vh;
}


.emailcontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

.emailicon{
    width: 30vh; 
    height: 30vh;
}

.email{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.emailtext{

    font-size: 50px; 
    font-weight: bold;
}
     
.thecontactformcontainer{
    display:block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 3px dotted #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
    
.thecontactform{
    display:inline-block;
    text-align: center;
    border: 1px solid #000;
    width:50%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
    
.thecontactinput{
    border-radius: 5px;
    margin: 5px;

}

.mapcontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

.address{
    margin-left:35px;
}


@media (max-width: 375px){
    .contacttitletext{
        font-size:2em;
    }

    .thecontactform{
        font-size:0.9em;
        width:80%;
    }

    .mapembed{
        width:100%;
  
    }

    .mapcontainer{
        display:block;
        font-size:0.8em;
    }

    .phoneicon{
        width: 7vh; 
        height: 7vh;
    }

    .phonetext{
        font-size: 10px; 
        font-weight: bold;
    }

    .emailicon{
        width: 7vh; 
        height: 7vh;
    }

    .emailtext{
        font-size: 10px; 
        font-weight: bold;
    }

    .address{
        font-size:1em;
    }

    .phone{
        font-size:0.7em;
    }
}

@media (min-width:365px) and (max-width: 768px) {
    .phoneicon{
        width:10%;
        height:auto;
    }

    .phonetext{
        font-size:1em;
    }

    .emailicon{
        width:10%;
        height:auto;
    }

    .emailtext{
        font-size:1em;
    }
}
